flows.json
[{"id":"63c4097.d1b20f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf604055.a51c","type":"debug","z":"63c4097.d1b20f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":440,"wires":[]},{"id":"3498946b.22ccac","type":"function","z":"63c4097.d1b20f8","name":"temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["e68ff193.2acf9","cf604055.a51c"]]},{"id":"e68ff193.2acf9","type":"ui_gauge","z":"63c4097.d1b20f8","name":"","group":"4d20de1e.b8d6a8","order":4,"width":12,"height":7,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":220,"wires":[]},{"id":"9d1e271c.a993d8","type":"http request","z":"63c4097.d1b20f8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad, IN&appid=3239928487eccbfc7fb7c22c822d2637","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":440,"wires":[["cf604055.a51c"]]},{"id":"e33f35d4.2b7428","type":"inject","z":"63c4097.d1b20f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":460,"wires":[["9d1e271c.a993d8"]]},{"id":"8e0fb159.635078","type":"function","z":"63c4097.d1b20f8","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["ac3a71d4.9b87d","cf604055.a51c"]]},{"id":"99065915.a59678","type":"ui_button","z":"63c4097.d1b20f8","name":"","group":"4d20de1e.b8d6a8","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":430,"y":600,"wires":[["fbf2de1a.6ae398"]]},{"id":"ef412860.c97d4","type":"ui_button","z":"63c4097.d1b20f8","name":"","group":"4d20de1e.b8d6a8","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":440,"y":680,"wires":[["fbf2de1a.6ae398"]]},{"id":"ac3a71d4.9b87d","type":"ui_gauge","z":"63c4097.d1b20f8","name":"","group":"4d20de1e.b8d6a8","order":6,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":300,"wires":[]},{"id":"ec4b27b4.304718","type":"function","z":"63c4097.d1b20f8","name":"soil Moisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":380,"wires":[["cf604055.a51c","2b2f2804.8fce"]]},{"id":"2b2f2804.8fce","type":"ui_gauge","z":"63c4097.d1b20f8","name":"","group":"4d20de1e.b8d6a8","order":1,"width":"0","height":"0","gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":360,"wires":[]},{"id":"170c801b.0e3e38","type":"ibmiot in","z":"63c4097.d1b20f8","authentication":"quickstart","apiKey":"20b68643.13e922","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"device1","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":300,"wires":[["3498946b.22ccac","8e0fb159.635078","ec4b27b4.304718"]]},{"id":"fbf2de1a.6ae398","type":"ibmiot out","z":"63c4097.d1b20f8","authentication":"quickstart","apiKey":"20b68643.13e922","outputType":"evt","deviceId":"device1","deviceType":"1.0.6","eventCommandType":"agri","format":"json","data":"data points","qos":0,"name":"IBM IoT","service":"quickstart","x":700,"y":640,"wires":[]},{"id":"4d20de1e.b8d6a8","type":"ui_group","z":"","name":"IOT","tab":"f98e1edb.972628","order":1,"disp":true,"width":"12","collapse":true},{"id":"20b68643.13e922","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/88761352-79af-4e3c-bfc4-ad33fea6b989","cleansession":true,"appId":"","shared":false},{"id":"f98e1edb.972628","type":"ui_tab","z":"","name":"SmartAgriculture","icon":"dashboard","disabled":false,"hidden":false}]